<div class="wrapper_mobile_menu" id="wrapper">
    <div class="header-mobile">
        <img class="logo-mobile" src="./assets/img/logo_blue.png" alt="" />
        <img onclick="showLogoutMobile()" class="profile-img" src="assets/img/profile-img.png" />
    </div>
    <div class="wrapper_sidebar_mobile">
        <nav>
            <div class="sidebar_menu_container_mobile">
                <div id="sidebar_summary_mobile" class="sidebar_menu_mobile" onclick="window.location='./summary.html'">
                    <img src="assets/img/summary-icon.png" alt="" />
                    <a href="./summary.html">Summary</a>
                </div>
                <div id="sidebar_board_mobile" class="sidebar_menu_mobile" onclick="window.location='./board.html'">
                    <img src="assets/img/board-icon.png" alt="" />
                    <a href="./board.html">Board</a>
                </div>
                <div id="sidebar_addtask_mobile" class="sidebar_menu_mobile" onclick="window.location='./add_task.html'">
                    <img src="assets/img/addtask-icon.png" alt="" />
                    <a href="./add_task.html">Add Task</a>
                </div>
                <div id="sidebar_contact_mobile" class="sidebar_menu_mobile" onclick="window.location='./contact.html'">
                    <img src="assets/img/contact-icon.png" alt="" />
                    <a href="./contact.html">Contacts</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div id="popUpMobile" onclick="closePopupMobile()" class="wrapper-logout-mobile d-none">
    <div onclick="notCloseMobile(event)" class="logout-popup-mobile">
        <a href="./info.html">Help</a>
        <a href="./legalnotice.html">Legal notice</a>
        <a href="./index.html">Log out</a>
    </div>
</div>
